.table {
    width: 100%;
    border: 1px solid black;
    margin-bottom: 12px;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

thead th {
    font-weight: bold;
}
